{% extends 'template.twig' %}
{% block title %}
    Gestion du compte
{% endblock %}

{% block content %}
    {# Page Header #}
    <header class="masthead" style="background-image: url('/images/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Léo Moille</h1>
                        <span class="subheading">Gestion du compte</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-9">
                    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Commentaire(s) en attente
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">Supprimer mon compte et mes
                                données
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <div class="col-md-10 col-lg-8 col-xl-7 m-auto pt-5 text-center">
                                <p>Vous avez {{ commentsApproved | length }} commentaire(s) approuvé(s)
                                    et {{ commentsPending | length }} commentaire(s) en attente(s)
                                    d'approbation.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <div class="col-md-10 col-lg-8 col-xl-7 m-auto pt-5">
                                <form method="post" action="/user/deleteAccount">
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input type="text" name="userId" value="{{ session.user.id }}" hidden>
                                            <input class="form-check-input" type="checkbox"
                                                   id="flexCheckDefault" name="confirm">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Je confirme vouloir supprimer mon compte.
                                            </label>
                                        </div>
                                        <p>
                                            <em>En supprimant votre compte, vos informations seront supprimés mais vos
                                                commentaires seront toujours présents. Cependant votre nom ou pseudo
                                                n'apparaitra
                                                plus. Si vous souhaitez que même vos commentaires soient supprimés,
                                                merci de passer par le <a href="/#contactForm">formulaire de contact</a>.</em>
                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-outline-danger">
                                        Supprimer mon compte
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
